<div class="container-fluid">

    <div class="container-fluid">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>USER NAME</th>
                    <th>FULL NAME</th>
                    <th>EMAIL</th>
                    <th>EDIT</th>
                    <th>DELETE</th>
                </tr>
            </thead>
            <tbody *ngIf="userList">
                            <tr *ngFor="let user of userList; index as i">
                                <td>{{user.userId}}</td>
                                <td>{{user.userName}}</td>
                                <td>{{user.displayName}}</td>
                                <td>{{user.emailAdd}}</td>
                                <td><a (click)="openEdit(user.username)">Edit</a></td>
                                <td><a (click)="delete(i)">Delete</a></td>
                            </tr>
                        </tbody>
        </table>
        <hr>
        <button class="btn btn-success" (click)="openDialog()">Add New User</button>
    </div>
</div>