<div class="container-fluid">
    <img src="https://img.icons8.com/color/344/administrator-male-skin-type-7.png" alt="Receptionist" width="50%" height="50%">
</div>
<div class="container-fluid input-box">
    <form [formGroup]="checkForm" (ngSubmit)="onSubmit()" style="width: fit-content;">
        <div class="form-group">
            <label for="enter_id"><b>Enter First Name</b></label>
            <input type="text" aria-describedby="input-ID" placeholder="Enter Your ID" id="first" formControlName="first" class="form-control" placeholder="Enter Your First Name">
        </div>
        <div class="form-group">
            <label for="enter-name"><b>Enter Last Name</b></label>
            <input type="text" type="text" id="last" formControlName="last" class="form-control" placeholder="Enter Your Last Name" >
        </div>
        <br>
        <button class="button" type="submit" class="btn btn-success" [disabled]="checkForm.invalid">Submit</button>
        <button type="reset" class="btn btn-danger">Reset</button>
    </form>
</div>
    