<div class="container-fluid input-box">
    <form #userForm="ngForm">
        <div class="form-group">
            <label for="enter_id"><b>Email Your ID</b></label>
            <input type="number" required class="form-control" name="_id" aria-describedby="input-ID" placeholder="Enter Your ID" ngModel>
            <small id="name-help" class="form-text text-muted">Starting from 1</small>
        </div>
        <div class="form-group">
            <label for="enter-name"><b>Email Your Name</b></label>
            <input type="text" required class="form-control" name="name" placeholder="Enter Your Name" ngModel>
            <small id="name-help" class="form-text text-muted">Ex. John Smith.</small>
        </div>
        <!-- <hr>
        
            
        </div>
        <hr>
        <label for="selectdepartment"><b>Select Your Department:</b></label><br>
        <small id="dept-help" class="form-text text-muted">Select the department you wish to work in.</small><br>
        <div class="form-check form-check-inline" name="deptName">
        <input class="form-check-input" name="department" value="human resource" ngModel type="radio">
        <label class="form-check-label" for="inlineRadio1">Human Resource</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" name="department" value="information technology" type="radio" ngModel>
        <label class="form-check-label" for="inlineRadio1">Information Technology</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" name="department" value="marketing" type="radio" ngModel>
        <label class="form-check-label" for="inlineRadio1">Marketing</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" name="department" value="sales" type="radio" ngModel>
        <label class="form-check-label" for="inlineRadio1">Sales</label>
        </div>
        <div class="form-check form-check-inline">
        <input class="form-check-input" name="department" value="quality assurance" type="radio" ngModel>
        <label class="form-check-label" for="inlineRadio1">Quality Assurance</label>
        </div>
        <br><br> -->
        <button type="submit" class="btn btn-success">Submit</button>
        <button type="reset" class="btn btn-danger">Reset</button>

    </form>
</div>
 