.input-box{
    width: 500px;
    margin-top: 30px;
    height: fit-content;
    background-color:  rgb(255, 236, 252);
    border-radius: 10px;
    padding: 20px;
}
.btn-success{
    margin-right: 20px;
}
b{
    color: rgb(2, 2, 52);
    font-weight: 450;
}