<div class="container-fluid">

    <div class="container-fluid">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>DEPARTMENT ID</th>
                    <th>DEPARTMENT</th>
                    <th>HEAD OF DEPARTMENT</th>
                    <th>EDIT</th>
                    <th>DELETE</th>
                </tr>
            </thead>
            <tbody *ngIf="departments">
                <tr *ngFor="let dept of departments; index as i">
                    <td>{{dept.departmentCode}}</td>
                    <td>{{dept.departmentName}}</td>
                    <td>{{dept.hod}}</td>
                    
                    <td><a (click)="assignHead(dept.departmentCode)">Assign HOD</a></td>
                    <td><a (click)="delete(i)">Delete</a></td>
                </tr>
            </tbody>
        </table>
        <hr>
        <button class="btn btn-success" (click)="openDialog()">Add New Department</button>
    </div>
</div>