.center{
    width: 400px;
    margin-top: 20px;
    height: max-content;
    padding: 10px 2px 2px 2px;
    border-radius: 10px;
    background-color:  rgb(255, 236, 252);
    border: 2px solid rgb(255, 60, 122);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
}
th{
    font-weight: 700;
    font-size: larger;
    color: rgb(84, 5, 5);
}