<div class="container-fluid input-box">
    <form [formGroup]="assignHodForm" (ngSubmit)="updateForm()" style="width: fit-content;">
        <div class="form-group">
            <label><b>Enter Department Code</b></label>
            <input type="text" formControlName="departmentCode" class="form-control" placeholder="Enter Department Code"
                readonly>
        </div>
        <div class="form-group">
            <label><b>Enter Department Name</b></label>
            <input type="text" formControlName="departmentName" class="form-control" placeholder="Enter Department Name"
                readonly>
        </div><br>
        <label><b>Assign HOD</b></label>
        <select class="form-select" aria-label="Default select example" formControlName="hod">
            <option selected>---</option>
            <option value="user One">User One</option>
            <!-- <option *ngFor="let user of userList">{{user.displayName}}</option> -->
        </select>
        <br>
        <div class="form-group">
            <button type="submit" [mat-dialog-close]="true" class="btn btn-primary"
                [disabled]="assignHodForm.invalid">Update</button>
            <button type="reset" [mat-dialog-close]="false" class="btn btn-danger">Discard</button>
        </div>
    </form>
</div>

