.box{
    width: fit-content;
    margin-top: 20px;
    height: max-content;
    padding: 10px 5px 5px 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Tahoma, Geneva, Verdana, sans-serif;
}
.btn-primary{
    margin-right: 20px;
}
td, th{
    text-align: left;
    margin-top: 2px;
    justify-items: baseline;
    font-size: larger;
}
hr{
    font-size: larger;
}
