<mat-tab-group mat-align-tabs="center" backgroundColor="accent">
  <mat-tab label="Name">
    <mat-grid-list cols="2">
            <div class="container">
              <div class="row">
                <div class="col-4">
                  <app-input-name></app-input-name>
                  
                </div>
                <div class="col-8">
                  <app-display-name></app-display-name>
                </div>
              </div>
            </div>
    </mat-grid-list>
  </mat-tab>

  <mat-tab label="Department">
    <mat-grid-list cols="2">
            <div class="container">
              <div class="row">
                <div class="col-4">
                  <app-input-dept></app-input-dept>
                </div>
                <div class="col-8">
                  <app-display-dept></app-display-dept>
                </div>
              </div>
            </div>
    </mat-grid-list>
  </mat-tab>

  <!-- <mat-tab label="Location">
    <mat-grid-list cols="2">
            <div class="container">
              <div class="row">
                <div class="col-4">
                  <app-input-loc></app-input-loc>
                </div>
                <div class="col-8">
                  <app-display-loc></app-display-loc>
                </div>
              </div>
            </div>
    </mat-grid-list>
  </mat-tab> -->



</mat-tab-group>

